.main {
  max-width: 100vw;
  display: flex;
  max-height: 100vh;
}

.main ul {
  margin: 0;
  padding: 20px;
}

.container {
  box-sizing: border-box;
  overflow-y: scroll;
  margin: calc(70px + 0px) 0px 0px calc(250px + 0px);
  width: 100%;
  padding: 10px;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #ff4500;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background: #ff4500;
}
