.main {
  max-width: 100vw;
  display: flex;
  max-height: 100vh;
}

.container {
  box-sizing: border-box;
  overflow-y: scroll;
  margin: calc(70px + 0px) 0px 0px calc(250px + 0px);
  width: 100%;
  padding: 10px 0 10px 10px;
}
.container:hover {
  overflow-y: scroll;
}

@media (max-width: 900px) {
  .container {
    margin: 150px 0 0 0;
  }
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: #efefef;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background: #efefef;
}
